.profile-pegawai__table {
  flex: 2;
  width: 100%;
  margin-bottom: 30px;
}

.profile-pegawai__table tr {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dotted #ddd;
}

.profile-pegawai__table th,
.profile-pegawai__table td {
  padding: 8px;
  text-align: left;
}

.profile-pegawai__table th {
  flex: 1;
  font-size: 1.1em;
  font-weight: 400;
}
.profile-pegawai__table td {
  flex: 5;
  color: #777;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .profile-pegawai__table th {
    flex: 1;
  }
  .profile-pegawai__table td {
    flex: 2;
  }
}

.pegawai-profile-container {
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .pegawai-profile-container {
    flex-direction: column;
    align-items: center;
  }
}

.profile-image-container {
  width: 200px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #ddd;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dokumen-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 5vh 5vh;
}

.dokumen-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 2vh;
}

.dokumen-item p {
  margin: 0 !important;
}
